.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .swiper-wrapper {
    margin-bottom:40px;
  }
  .he-img-responsive {
    display:block;
    height:auto;
    max-width:100%;
  }
  .recommended-products-slider {
    background:orange;
    padding:60px 0px;
  }
  .recommended-products-slider .swiper-pagination {
    position:relative;
  }
  .recommended-products-slider a {
    text-decoration:none;
  }
 .he-product-title {
    font-size: 16px;
    text-align: center;
    color: #000;
    margin: 0;
    padding-top: 15px;
}
.recommended-products-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background:#fff;
  border:1px solid #000;
}
.he-section-title {
  margin: 0 0 60px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 32px;
}